body {
	font-family: Lato;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: Montserrat;
}
hr.star-dark, hr.star-light {
	max-width: 15rem;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid .25rem;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	margin-left: auto;
	margin-right: auto;
}
hr.star-dark:after, hr.star-light:after {
	position: relative;
	top: -.8em;
	display: inline-block;
	padding: 0 .25em;
	content: '\f005';
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 2em;
}
hr.star-light {
	border-color: #fff;
}
hr.star-light:after {
	color: #fff;
	background-color: #18bc9c;
}
hr.star-dark {
	border-color: #2c3e50;
}
hr.star-dark:after {
	color: #2c3e50;
	background-color: #fff;
}
section {
	padding: 6rem 0;
}
section h2 {
	font-size: 2.25rem;
	line-height: 2rem;
}
@media (min-width:992px) {
	section h2 {
		font-size: 3rem;
		line-height: 2.5rem;
	}
	}.btn-xl {
		padding: 1rem 1.75rem;
		font-size: 1.25rem;
	}
	.btn-social {
		width: 3.25rem;
		height: 3.25rem;
		font-size: 1.25rem;
		line-height: 2rem;
	}
	.scroll-to-top {
		z-index: 1042;
		right: 1rem;
		bottom: 1rem;
		display: none;
	}
	.scroll-to-top a {
		width: 3.5rem;
		height: 3.5rem;
		background-color: rgba(33, 37, 41, .5);
		line-height: 3.1rem;
	}
	#mainNav {
		padding-top: 1rem;
		padding-bottom: 1rem;
		font-weight: 700;
		font-family: Montserrat;
	}
	#mainNav .navbar-brand {
		color: #fff;
	}
	#mainNav .navbar-nav {
		margin-top: 1rem;
		letter-spacing: .0625rem;
	}
	#mainNav .navbar-nav li.nav-item a.nav-link {
		color: #fff;
	}
	#mainNav .navbar-nav li.nav-item a.nav-link:hover {
		color: #18bc9c;
	}
	#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
		color: #fff;
	}
	#mainNav .navbar-nav li.nav-item a.nav-link.active {
		color: #18bc9c;
	}
	#mainNav .navbar-toggler {
		font-size: 80%;
		padding: .8rem;
	}
	@media (min-width:992px) {
		#mainNav {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			-webkit-transition: padding-top .3s, padding-bottom .3s;
			transition: padding-top .3s, padding-bottom .3s;
		}
		#mainNav .navbar-brand {
			font-size: 2em;
			-webkit-transition: font-size .3s;
			transition: font-size .3s;
		}
		#mainNav .navbar-nav {
			margin-top: 0;
		}
		#mainNav .navbar-nav>li.nav-item>a.nav-link.active {
			color: #fff;
			background: #18bc9c;
		}
		#mainNav .navbar-nav>li.nav-item>a.nav-link.active:active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
			color: #fff;
			background: #18bc9c;
		}
		#mainNav.navbar-shrink {
			padding-top: .5rem;
			padding-bottom: .5rem;
		}
		#mainNav.navbar-shrink .navbar-brand {
			font-size: 1.5em;
		}
	}
	.page .masthead {
		padding-top: calc(6rem + 72px);
		padding-bottom: 6rem;
	}
	.page .masthead h1 {
		font-size: 3rem;
		line-height: 3rem;
	}
	.page .masthead h2 {
		font-size: 1.3rem;
		font-family: Lato;
	}
	@media (min-width:992px) {
		.page .masthead {
			padding-top: calc(2rem + 100px);
			padding-bottom: 16rem;
		}
		.page .masthead h1 {
			font-size: 4.75em;
			line-height: 4rem;
		}
		.page .masthead h2 {
			font-size: 1.75em;
		}
	}

	a {
		color: #18bc9c;
	}
	a:active, a:focus, a:hover {
		color: #128f76;
	}
	.btn {
		border-width: 2px;
	}
	.bg-primary {
		background-color: #18bc9c!important;
	}
	.bg-secondary {
		background-color: #2c3e50!important;
	}
	.text-primary {
		color: #18bc9c!important;
	}
	.text-secondary {
		color: #2c3e50!important;
	}
	.btn-primary {
		background-color: #18bc9c;
		border-color: #18bc9c;
	}
	.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
		background-color: #128f76;
		border-color: #128f76;
	}
	.btn-secondary {
		background-color: #2c3e50;
		border-color: #2c3e50;
	}
	.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
		background-color: #1a252f;
		border-color: #1a252f;
	}



/**
 * Bootstrap Overrides
 */
 .btn-login {
 	color: #1b3146;
 	background-color: transparent;
 	background-image: none;
 	border-color: #ffffff;
 	font-size: 2rem!important;
 }