<style scoped>
.pointer{
    cursor: pointer;
}
.single-contest{
    background: aliceBlue;
    font-weight: bold;
}
</style>

<template>
    <div class="text-left">

<div class="card card-body">

    <div class="row">
        <div class="col-md-4" v-for="(contest, index) in contests">
            <div  class="pointer single-contest p-3 mt-2">
                {{ contest.name }}
            </div>
        </div>
    </div>
    <div v-if="contests.length == 0" class="single-contest p-3">
        <p class="text-danger">You are not registered for any contests</p>
    </div>

</div>
</div>

</template>

<script>

    import { required} from 'vuelidate/lib/validators';
    export default {
        props: {
            url: {
                type: String,
                required: true
            },
            api_token: {
                type: String,
                required: true
            }
        },

        data: function() {
            return {
                name: '',
                clickedOnContestView: false,
                clickedContestID: null,
                teamsForViewed: [],

                submitStatus: null,
                serverErrors: [],
                contests: []
            }
        },

        mounted(){
            // get the contest list of this user
            let vm = this;
            axios.get(vm.url+'/api/contests', {
                params: {
                    api_token: vm.api_token
                }
            })
            .then(function (response){
                vm.contests = response.data.contests;
                console.log(response);
            })
            .catch(function (error){

            })
        },

        validations:
        {
            name: {
                required
            }
        },

        methods: {

          addContest() {
            let vm = this;
            vm.$v.$touch();
            if (vm.$v.$invalid) {
                vm.submitStatus = 'ERROR';
            } else {
                // do your submit logic here
                vm.submitStatus = 'PENDING';

                // Now submit data to server

                axios.post(vm.url + '/api/contests', {
                 api_token: vm.api_token,
                 name: vm.name
             })
                .then(function (response){
                    console.log(response)

                    if (response.data.success == true) {
                        vm.submitStatus = 'OK';
                        vm.name = '';
                        vm.message = response.data.message;
                        vm.contests.push(response.data.contest)

                        // close modal
                        $('#createContestModal').modal('hide');

                        let toast = vm.$toasted.show(response.data.message, { 
                           theme: "bubble", 
                           position: "top-center", 
                           duration : 5000
                       });

                    }else {
                        vm.submitStatus = 'ERROR';
                        vm.message = response.data.message;
                        // vm.serverErrors = error.response.data.message;
                    }
                })

            }

        },

        getTeamsForContest: function(index, id){
            let vm = this;
            vm.clickedOnContestView = true;
            vm.clickedContestID = id;
            axios.get(vm.url + '/api/contest-teams/'+id, {
             params: {
                api_token: vm.api_token
            }
        })
            .then(function (response){
                if (response.data.success == true) {
                    vm.teamsForViewed = response.data.teamsForViewed;
                }
            })
        },

        deleteContest: function(index, id) {
            let vm = this;
            if (vm.api_token) {
                axios.delete(vm.url + '/api/contests/'+id, {
                    params: {
                        api_token: vm.api_token
                    }
                })
                .then(function (response){
                    console.log(response)
                    if (response.data.success == true) {
                        vm.submitStatus = 'OK';
                        vm.message = response.data.message;

                        vm.contests.splice(index, 1);

                        let toast = vm.$toasted.show(response.data.message, { 
                           theme: "bubble", 
                           position: "top-center", 
                           duration : 2000
                       });

                    }else {
                        vm.submitStatus = 'ERROR';
                        vm.message = response.data.message;
                        // vm.serverErrors = error.response.data.message;
                    }
                })
            }

        },
        seeTeam: function(id) {
            window.location.href = this.url+'/team/'+id+'?api_token=' + this.api_token;
        }

    } // End methods


}


</script>
