<style scoped>
.pointer{
    cursor: pointer;
}
.single-contest{
    background: aliceBlue;
    font-weight: bold;
}
</style>

<template>
    <div class="text-left">
        <h3 class="text-left">
            My Contests
            <button class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#createContestModal">Create a contest</button>
            <div class="clearfix"></div>
        </h3>
        <div class="modal fade" id="createContestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Contest</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="addContest">
                <div class="form-group row">
                    <div class="col-sm-9">
                        <input type="text"
                        v-model.trim="$v.name.$model"
                        class="form-control" 
                        :class="{' is-invalid': $v.name.$error}"
                        id="name" 
                        name="name" 
                        placeholder="Write Contest name">
                    </div>
                    <div class="col-sm-3">
                        <div v-if="$v.name.$error" class="text-danger">
                            <span><i class="fa fa-warning"></i></span>
                            <span v-if="!$v.name.required"> Please give contest name
                                <span class="required-icon">*</span>
                            </span>
                        </div>
                        <div v-else-if="name == ''"></div>
                        <div v-else>
                            <i class="fa fa-check text-success"></i>
                        </div>
                    </div>
                </div>

                <br>
                <button type="submit" class="btn btn-success btn-lg">Create Contest Now</button>
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
            </form>
        </div>
    </div>
</div>
</div>


<div class="card card-body">

    <div class="row">
        <div class="col-md-4" v-for="(contest, index) in contests">
            <div  class="pointer single-contest p-3 mt-2">
                {{ contest.name }}
                <form @submit.prevent="deleteContest(index, contest.id)" class="form-inline">
                    <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i> Delete </button>
                </form>
                <form @submit.prevent="getTeamsForContest(index, contest.id)" class="form-inline">
                    <button type="submit" class="btn btn-outline-primary btn-sm mt-2"><i class="fa fa-eye"></i> View </button>
                </form>
                
                <div class="teams-in-contest" v-if="clickedOnContestView && clickedContestID  == contest.id && clickedContestID && teamsForViewed.length > 0">
                    <div class="row">
                        <div class="col-md-12" v-for="(team, index) in teamsForViewed">
                            <div  class="pointer single-contest p-3 mt-2" @click="seeTeam(team.team_id)">
                                {{ team.name }}
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div v-if="clickedOnContestView && clickedContestID  == contest.id  && teamsForViewed.length == 0" class="single-contest p-3">
                    <p class="text-danger">No team is foun in this contest !!</p>
                </div>
            </div>
        </div>
    </div>
    <div v-if="contests.length == 0" class="single-contest p-3">
        <p class="text-danger">You are not a contest owner of any contest yet</p>
    </div>

</div>
</div>

</template>

<script>

    import { required} from 'vuelidate/lib/validators';
    export default {
        props: {
            url: {
                type: String,
                required: true
            },
            api_token: {
                type: String,
                required: true
            }
        },

        data: function() {
            return {
                name: '',
                clickedOnContestView: false,
                clickedContestID: null,
                teamsForViewed: [],

                submitStatus: null,
                serverErrors: [],
                contests: []
            }
        },

        mounted(){
            // get the contest list of this user
            let vm = this;
            axios.get(vm.url+'/api/contests', {
                params: {
                    api_token: vm.api_token
                }
            })
            .then(function (response){
                vm.contests = response.data.contests;
                console.log(response);
            })
            .catch(function (error){

            })
        },

        validations:
        {
            name: {
                required
            }
        },

        methods: {

          addContest() {
            let vm = this;
            vm.$v.$touch();
            if (vm.$v.$invalid) {
                vm.submitStatus = 'ERROR';
            } else {
                // do your submit logic here
                vm.submitStatus = 'PENDING';

                // Now submit data to server

                axios.post(vm.url + '/api/contests', {
                 api_token: vm.api_token,
                 name: vm.name
             })
                .then(function (response){
                    console.log(response)

                    if (response.data.success == true) {
                        vm.submitStatus = 'OK';
                        vm.name = '';
                        vm.message = response.data.message;
                        vm.contests.push(response.data.contest)

                        // close modal
                        $('#createContestModal').modal('hide');

                        let toast = vm.$toasted.show(response.data.message, { 
                           theme: "bubble", 
                           position: "top-center", 
                           duration : 5000
                       });

                    }else {
                        vm.submitStatus = 'ERROR';
                        vm.message = response.data.message;
                        // vm.serverErrors = error.response.data.message;
                    }
                })

            }

        },

        getTeamsForContest: function(index, id){
            let vm = this;
            vm.clickedOnContestView = true;
            vm.clickedContestID = id;
            axios.get(vm.url + '/api/contest-teams/'+id, {
             params: {
                api_token: vm.api_token
            }
        })
            .then(function (response){
                if (response.data.success == true) {
                    vm.teamsForViewed = response.data.teamsForViewed;
                }
            })
        },

        deleteContest: function(index, id) {
            let vm = this;
            if (vm.api_token) {
                axios.delete(vm.url + '/api/contests/'+id, {
                    params: {
                        api_token: vm.api_token
                    }
                })
                .then(function (response){
                    console.log(response)
                    if (response.data.success == true) {
                        vm.submitStatus = 'OK';
                        vm.message = response.data.message;

                        vm.contests.splice(index, 1);

                        let toast = vm.$toasted.show(response.data.message, { 
                           theme: "bubble", 
                           position: "top-center", 
                           duration : 2000
                       });

                    }else {
                        vm.submitStatus = 'ERROR';
                        vm.message = response.data.message;
                        // vm.serverErrors = error.response.data.message;
                    }
                })
            }

        },
        seeTeam: function(id) {
            window.location.href = this.url+'/team/'+id+'?api_token=' + this.api_token;
        }

    } // End methods


}


</script>
