<style scoped>
.required-icon{
    font-size: 18px;
    font-weight: bolder;
    color: #f30a0a;
}
.form-signin{
    max-width: 700px;
}
</style>

<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-body">
                    <div class="form-signin">
                        <center> <h2 class="mb-3 pricing-title"> Sign In</h2> </center>
                        <form @submit.prevent="submitForm">

                            <div class="alert alert-success" v-if="submitStatus === 'OK'">
                                <i class="fa fa-check"></i> 
                                {{ message }}
                            </div>

                            <div class="alert alert-danger" v-if="submitStatus === 'ERROR'">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                                <ul>
                                 <li v-for="sError in serverErrors">
                                     <i class="fa fa-warning"></i>  {{ sError[0] }}
                                 </li>
                             </ul>
                         </div>

                         <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">Your Email Address
                                <span class="required-icon">*</span>
                            </label>
                            <div class="col-sm-6">
                                <input type="email"
                                v-model.trim="$v.email.$model"
                                class="form-control" 
                                :class="{' is-invalid': $v.email.$error}"
                                id="email" 
                                name="email" 
                                placeholder="Give Your Email Address">
                            </div>
                            <div class="col-sm-3">
                                <div v-if="$v.email.$error" class="text-danger">
                                    <span><i class="fa fa-warning"></i></span>
                                    <span v-if="!$v.email.required"> Give your phone no</span>
                                </div>
                                <div v-else>
                                    <i class="fa fa-check text-success"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-sm-3 col-form-label">Password
                                <span class="text-danger"></span>
                            </label>
                            <div class="col-sm-6">
                                <input type="password"
                                v-model.trim="$v.password.$model"
                                class="form-control" 
                                :class="{' is-invalid': $v.password.$error}"
                                id="password" 
                                name="password" 
                                placeholder="Give Your password">
                            </div>
                            <div class="col-sm-3">
                                <div v-if="$v.password.$error" class="text-danger">
                                    <span><i class="fa fa-warning"></i></span>
                                    <span v-if="!$v.password.required"> Give your password</span>
                                </div>
                                <div v-else>
                                    <i class="fa fa-check text-success"></i>
                                </div>
                            </div>
                        </div>



                        <div class="form-group row">
                          <div class="col-sm-10">
                            <button v-if="submitStatus == 'PENDING'"  class="btn btn-info"> Submitting... <i class="fa fa-spinner fa-spin"></i></button>
                            <button v-else type="submit" class="btn btn-primary"> <i class="fa fa-check"></i> Login Now</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>

</template>

<script>

    import { required} from 'vuelidate/lib/validators';
    export default {
        props: {
            url: {
                type: String,
                required: true
            },
            
        },
        mounted(){

        },

        data: function() {
            return {
                email : '',
                password : '',
                message  : '',
                api_token  : '',

                submitStatus: null,
                serverErrors: []
            }
        },

        validations:
        {
          email: {
            required
        },
        password: {
            required
        },


    },

    methods: {

      submitForm() {
        let vm = this;
        vm.$v.$touch();
        if (vm.$v.$invalid) {
            vm.submitStatus = 'ERROR';
        } else {
            // do your submit logic here
            vm.submitStatus = 'PENDING';

            // Now submit data to server

            axios.post(vm.url + '/api/users/login', {
                email: vm.email,
                password: vm.password

            }).then(function (response){
                console.log(response)

                if (response.data.success == true) {
                    vm.submitStatus = 'OK';
                    vm.api_token = response.data.user.api_token;
                    vm.message = response.data.message;


                }else {
                    vm.submitStatus = 'ERROR';
                    vm.message = response.data.message;
                    // vm.serverErrors = error.response.data.message;
                }
            }).catch(function (error){
                // vm.serverErrors = response.data.errors;
                vm.submitStatus = 'ERROR';
                // vm.serverErrors = error.response.data.errors;
            });

        }

    },

},


watch: {
    submitStatus: _.debounce(function() { 

       if (this.submitStatus == "OK") {

        let toast = this.$toasted.show("Successfully Logged In", { 
           theme: "bubble", 
           position: "top-center", 
           duration : 5000
       });

        window.location.href = this.url+'/dashboard?api_token=' + this.api_token;
    }}, 500),
}
}

</script>
