<style scoped>
.required-icon{
    font-size: 18px;
    font-weight: bolder;
    color: #f30a0a;
}
.form-signin{
    max-width: 700px;
}
</style>

<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-body">
                    <!-- <div class="alert alert-danger" v-if="errors"> </div> -->
                    <div class="form-signin">
                      <center>
                        <h2 class="mb-3 pricing-title">Sign Up Now</h2>
                    </center>
                    <form @submit.prevent="submitForm">

                        <div class="alert alert-success" v-if="submitStatus === 'OK'">
                            <i class="fa fa-check"></i> 
                            You are successfully registered !! <a :href="url+'/login'" class="btn btn-outline-primary">Login Now</a>
                            
                        </div>

                        <div class="alert alert-danger" v-if="submitStatus === 'ERROR'">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <p>Please correct the error</p>
                            <ul>
                               <li v-for="sError in serverErrors">
                                   <i class="fa fa-warning"></i>  {{ sError[0] }}
                               </li>
                           </ul>
                       </div>
                       <div class="form-group row">
                        <label for="first_name" class="col-sm-3 col-form-label">Your First Name 
                            <span class="required-icon">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="text"
                            v-model.trim="$v.first_name.$model"
                            class="form-control" 
                            :class="{' is-invalid': $v.first_name.$error}"
                            id="first_name" 
                            name="first_name" 
                            placeholder="Write Your First Name">
                        </div>
                        <div class="col-sm-3">
                            <div v-if="$v.first_name.$error" class="text-danger">
                                <span><i class="fa fa-warning"></i></span>
                                <span v-if="!$v.first_name.required"> Please give your first name
                                    <span class="required-icon">*</span>
                                </span>
                                <span v-if="!$v.first_name.minLength"> 
                                    First name will be greater than or equal 3 characters
                                </span>
                                <span v-if="!$v.first_name.maxLength"> 
                                    First name will be less than or equal 20 characters
                                </span>
                            </div>
                            <div v-else-if="first_name == ''"></div>
                            <div v-else>
                                <i class="fa fa-check text-success"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="last_name" class="col-sm-3 col-form-label">Your Last Name</label>
                        <div class="col-sm-6">
                            <input type="text"
                            v-model.trim="$v.last_name.$model"
                            class="form-control" 
                            :class="{' is-invalid': $v.last_name.$error}"
                            id="last_name" 
                            name="last_name" 
                            placeholder="Write Your Last Name">
                        </div>
                        <div class="col-sm-3">
                            <div v-if="$v.last_name.$error" class="text-danger">
                                <span><i class="fa fa-warning"></i></span>
                                <span v-if="!$v.last_name.minLength"> 
                                    Last name will be greater than or equal 3 characters
                                </span>
                                <span v-if="!$v.last_name.maxLength"> 
                                    Last name will be less than or equal 15 characters
                                </span>
                            </div>
                            <div v-else-if="last_name == ''"></div>
                            <div v-else>
                                <i class="fa fa-check text-success"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Your Email address
                            <span class="required-icon">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="text"
                            v-model.trim="$v.email.$model"
                            class="form-control" 
                            :class="{' is-invalid': $v.email.$error || emailStatus === 'error'}"
                            id="email" 
                            name="email" 
                            placeholder="Write Your Email address">
                        </div>
                        <div class="col-sm-3">
                            <div v-if="$v.email.$error" class="text-danger">
                                <span><i class="fa fa-warning"></i></span>
                                <span v-if="!$v.email.required"> Please give your email address</span>

                                <span v-if="!$v.email.email"> 
                                 Please give a valid email address
                             </span>
                         </div>
                         <div v-else>
                            <div v-if="emailStatus === 'checking'" class="text-info"> checking <i class="fa fa-spinner fa-spin"></i></div>
                            <div v-else-if="emailStatus === 'error'" class="text-danger">  
                                <span><i class="fa fa-warning"></i></span>
                            email already exists</div>
                            <div v-else-if="email == ''"></div>
                            <div v-else><i class="fa fa-check text-success"></i></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Password
                        <span class="text-info">(optional)</span>
                    </label>
                    <div class="col-sm-6">
                        <input type="password"
                        v-model.trim="$v.password.$model"
                        class="form-control" 
                        :class="{' is-invalid': $v.password.$error}"
                        id="password" 
                        name="password" 
                        placeholder="Write Your password">
                    </div>
                    <div class="col-sm-3">
                        <div v-if="$v.password.$error" class="text-danger">
                            <span><i class="fa fa-warning"></i></span>

                            <span v-if="!$v.password.minLength"> 
                             Please give a password more than 6 characters characters
                         </span>
                     </div>
                     <div v-else-if="password == ''"></div>
                     <div v-else>
                        <i class="fa fa-check text-success"></i>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm_password" class="col-sm-3 col-form-label">Confirm password
                    <span class="text-info">(optional)</span>
                </label>
                <div class="col-sm-6">
                    <input type="password"
                    v-model.trim="$v.confirm_password.$model"
                    class="form-control" 
                    :class="{' is-invalid': $v.confirm_password.$error}"
                    id="confirm_password" 
                    name="confirm_password" 
                    placeholder="Confirm password">
                </div>
                <div class="col-sm-3">
                    <div v-if="$v.confirm_password.$error" class="text-danger">
                        <span><i class="fa fa-warning"></i></span>

                        <span v-if="!$v.confirm_password.minLength"> 
                         Please confirm password will be more than 6 characters characters
                     </span>
                     <span v-if="!$v.confirm_password.sameAs"> 
                         Password combination doesn't match
                     </span>
                 </div>
                 <div v-else-if="confirm_password == ''"></div>
                 <div v-else>
                    <i class="fa fa-check text-success"></i>
                </div>
            </div>
        </div>



        <div class="form-group row">
          <div class="col-sm-10">
            <button v-if="submitStatus == 'PENDING'"  class="btn btn-info"> Signing Up... <i class="fa fa-spinner fa-spin"></i></button>
            <button v-else type="submit" class="btn btn-primary"> <i class="fa fa-check"></i> Sign Up</button>
        </div>

    </div>
</form>
</div>

</div>
</div>
</div>
</div>

</template>

<script>

    import { required, minLength, maxLength, alphaNum, email, url, numeric, sameAs } from 'vuelidate/lib/validators';
    export default {
        props: {
            url: {
                type: String,
                required: true
            },
            
        },
        mounted(){

        },

        data: function() {
            return {

                first_name : '',
                last_name : '',
                email : '',
                password : '',
                confirm_password : '',

                submitStatus: null,
                emailStatus: '',
                phoneStatus: '',
                serverErrors: []
            }
        },

        validations:
        {
            first_name: {
              required,
              minLength: minLength(3),
              maxLength: maxLength(20),
          },
          last_name: {
              minLength: minLength(3),
              maxLength: maxLength(15),
          },
          email: {
              required,
              email
          },
          password: {
            minLength: minLength(6)
        },
        confirm_password: {
            minLength: minLength(6),
            sameAsPassword: sameAs('password')
        },


    },

    methods: {

      submitForm() {
        let vm = this;
        vm.$v.$touch()
        if (vm.$v.$invalid) {
            vm.submitStatus = 'ERROR';
        } else {
        // do your submit logic here
        vm.submitStatus = 'PENDING';

        // Now submit data to server
        
        axios.post(vm.url + '/api/users/register', {
            user: vm.user,

            // Pass User data's
            first_name: vm.first_name,
            last_name: vm.last_name,
            email: vm.email,
            password: vm.password,
            confirm_password: vm.confirm_password

        }).then(function (response){
            console.log(response)

            if (response.data.success == true) {
                vm.submitStatus = 'OK';
                let toast = this.$toasted.show("Successfully registered !!", { 
                   theme: "bubble", 
                   position: "top-center", 
                   duration : 2000
               });
            }else {
                vm.submitStatus = 'ERROR';
                vm.serverErrors = error.response.data.errors;
                console.log(vm.serverErrors);
            }
        }).catch(function (error){
            console.log(vm.serverErrors);
        });

    }

},

},

watch: {

    email: _.debounce(function() { 

        let vm = this;
        vm.emailStatus = 'checking';
            // Send it to server and check
            if (vm.email) {
                axios.get(vm.url + '/api/users/email-check', {
                    params: {
                        email: vm.email
                    }
                }).then(function (response){
                    // If unique, set the slug else refactor it and make unique
                    if (response.data) {
                    // It's unique
                    vm.emailStatus = 'ok';
                }else {
                     // It's not unique
                     vm.emailStatus = 'error';
                 }
             }).catch(function (error){
                console.log(error);
            });
         }
     }, 100),  

    submitStatus: _.debounce(function() { 

       if (this.submitStatus == "OK") {
        window.location.href = this.url+'/login';
    }
}, 5000),
    
}

}

</script>
