<style scoped>

</style>

<template>
    <div>
        <div v-for="(player, index) in players" class="mt-2 card card-body">
            <h3>{{ player.detail.first_name }} {{ player.detail.last_name }} </h3>
            <p><strong>Email: </strong> <a>{{ player.detail.email }}</a></p>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            url: {
                type: String,
                required: true
            },
            api_token: {
                type: String,
                required: true
            },
            team_id: {
                type: String,
                required: true
            }
        },
        mounted(){
            let vm = this;
            axios.get(vm.url+'/api/team/get-players/'+vm.team_id, {
                params: {
                    api_token: vm.api_token
                }
            })
            .then(function (response){
                vm.players = response.data.players;
                console.log(response);
            })
            .catch(function (error){

            })
        },

        data: function() {
            return {
                players: [],

                submitStatus: null,
                serverErrors: []
            }
        },
        methods: {

        }

    }

</script>
