<style scoped>
.pointer{
    cursor: pointer;
}
.single-contest{
    background: aliceBlue;
    font-weight: bold;
}
</style>

<template>
    <div class="text-left">
        <div v-for="(team, index) in teams">
            <div  class="pointer single-contest p-3 mt-2" @click="seeTeam(team.id)">
                {{ team.name }}
            </div>
            <hr>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            url: {
                type: String,
                required: true
            },
            api_token: {
                type: String,
                required: true
            }
        },

        data: function() {
            return {
                teams: []
            }
        },

        mounted(){
            // get the contest list of this user
            let vm = this;
            axios.get(vm.url+'/api/get-teams-of-user', {
                params: {
                    api_token: vm.api_token
                }
            })
            .then(function (response){
                vm.teams = response.data.teams;
                console.log(response);
            })
            .catch(function (error){

            })
        },

        methods: {
            seeTeam: function(id) {
                window.location.href = this.url+'/team/'+id+'?api_token=' + this.api_token;
            }

    } // End methods


}


</script>
